# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
Phase5ND/Phase 5/.vs/Phase3ND/FileContentIndex/7c18c70c-7171-4d5c-aeff-84f58386af86.vsidx
Phase5ND/Phase 5/.vs/Phase3ND/FileContentIndex/read.lock
Phase5ND/Phase 5/.vs/Phase3ND/v17/.suo
Phase5ND/Phase 5/ImageServer/.vs/ImageServer/FileContentIndex/cbf74559-8adc-4868-8e71-a9555a1045ed.vsidx
Phase5ND/Phase 5/ImageServer/.vs/ImageServer/FileContentIndex/ea62f20a-2aa9-4736-ac87-5af388fb3361.vsidx
Phase5ND/Phase 5/ImageServer/.vs/ImageServer/FileContentIndex/read.lock
Phase5ND/Phase 5/ImageServer/.vs/ImageServer/v17/.suo
Phase5ND/Phase 5/.vs/Phase3ND/FileContentIndex/75e88997-a619-4344-842b-50750ef75c46.vsidx
Phase5ND/Phase 5/ImageServer/.vs/ImageServer/FileContentIndex/33b68b0c-55f6-4d89-a8ca-4361f9796368.vsidx
Phase5ND/Phase 5/ImageServer/.vs/ImageServer/FileContentIndex/9d1937d3-f0d2-4dd5-b4fc-064cb5c3520d.vsidx
